/target/
.DS_Store

target/foolsgoldplugin-0.0.1-SNAPSHOT.jar

.DS_Store

target/classes/com/github/leoverto/foolsgoldplugin/EntityDamageListener$1.class

target/classes/com/github/leoverto/foolsgoldplugin/EntityDamageListener.class

target/classes/com/github/leoverto/foolsgoldplugin/FoolsGoldPlugin.class

target/classes/com/github/leoverto/foolsgoldplugin/FoolsGoldPlugin.class

.DS_Store

target/classes/com/github/leoverto/foolsgoldplugin/EntityDamageListener$1.class

target/classes/com/github/leoverto/foolsgoldplugin/EntityDamageListener.class

target/classes/com/github/leoverto/foolsgoldplugin/FoolsGoldPlugin.class

target/foolsgoldplugin-0.0.1-SNAPSHOT.jar

target/foolsgoldplugin-0.0.1-SNAPSHOT.jar

target/classes/com/github/leoverto/foolsgoldplugin/PlayerMoveListener.class
